services:
  postgres:
    image: postgres:15-alpine
    container_name: training_center_db
    environment:
      POSTGRES_DB: training_center_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: